{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Documentos</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <!-- CABEÇALHO -->
    <header class="barra-topo">
        <div class="titulo-sistema">
            <i class="fa-brands fa-dochub fa-bounce"></i>
            <h2>Sistema de Documentos</h2>
        </div>
        <div class="area-usuario">
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'perfil' %}" ><span>{{ request.session.username }}</span></a>
            <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket icone-logout"></i>
                Sair
            </a>
        </div>
    </header>

    <!-- CONTEÚDO PRINCIPAL -->
    <main class="conteudo-principal">

        <div class="acoes">
            <h3>Minhas Pastas</h3>
            <a class="botao" href="{% url 'create_session' %}">
                + Nova Sessão
            </a>
        </div>

        <section class="lista-sessoes">
            {% for session in sessions %}

            <div class="card-sessao-laranja">
                <div class="aba-pasta" ></div>
                <div class="card-sessao" data-url="{% url 'session_detail' session.id %}">
                    <h4>

                        {{ session.title }}

                    </h4>

                    <p>
                        {{ session.documents.count }} documentos
                    </p>

                    <div class="acoes-sessao">
                        <a href="{% url 'edit_session' session.id %}">Editar</a>
                        <a href="{% url 'delete_session' session.id %}" onclick="return confirmarExclusao(event)">
                            Excluir
                        </a>
                        <a href="{% url 'create_document' session.id %}">Adicionar</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Nenhuma sessão criada.</p>
            {% endfor %}
        </section>

    </main>
</body>
<script>
    document.querySelectorAll('.card-sessao').forEach(card => {
        card.addEventListener('click', function (e) {
            // Se o clique for dentro da div de ações, NÃO navega
            if (!e.target.closest('.acoes-sessao')) {
                window.location.href = this.dataset.url;
            }
        });
    });

    function confirmarExclusao(event) {
        event.stopPropagation(); // impede clique no card
        return confirm('Tem certeza que deseja excluir esta sessão?');
    }
</script>

</html>