{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>SAORD</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login-container">

        <!-- LADO ESQUERDO - IMAGEM -->
        <div class="login-image"></div>

        <!-- LADO DIREITO - LOGIN -->
        <div class="login-form">
            <h1>Faça seu Cadastro</h1>

              

            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
                <a style="color: bisque;" href="{% url 'login' %}">Ja tenho cadastro</a>
            </form>
        </div>

    </div>
</body>

</html>
