/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container principal */
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Lado esquerdo - imagem */
.login-image {
    flex: 1;
    background-image: url("../imagens/documentos.jpg");
    background-size: cover;
    background-position: center;
}

/* Lado direito - formulário */
.login-form {
    flex: 1;
    background: linear-gradient(135deg, #e6ab08, #522c00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Título */
.login-form h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
}

/* Form */
form {
    background-color: #a17410;
    padding: 60px;
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Inputs */
input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botão */
button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000;
}

/* Erro */
.error {
    color: #ffb3b3;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-image {
        display: none;
    }

    .login-form {
        flex: 1;
    }
}



@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


